*,
*::after,
*::before {
  box-sizing: border-box;
  /* border: 1px solid black; */
}
/* Other Styles */
/* Typography */
/* Links */
/* Lists */
/* Buttons */
/* Badges */
/* Icons */
/* Inputs */

:root {
  font-size: 62.5%;
  /* --global-max-width: 1600px; */
  --primary-very-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);

  --neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);

  --neutral-pink: hsl(193, 72%, 231%);

  --radius-val: 5px;
}

body {
  /* color: #777; */
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--neutral-pink);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography */
h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-top: 0;
  color: var(--primary-very-dark-magenta);
}

/*  */
.inline-display {
  display: inline;
}

/* #header,
.rating-card,
.review-card {
  min-width: 280px;
  max-width: 330px;
} */

/* styles by the page elements oreder */
#main-container {
  margin: 4rem 0;
  width: 90%;
  max-width: 340px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro-card {
  text-align: center;
}

#intro-card paragraph {
  color: var(--neutral-dark-grayish-magenta);
}

#stars-cards {
  /* when i remove the margin from rating-card class
  the div are no more centered */
  margin: 4rem auto;
}

.rating-card {
  background-color: var(--neutral-light-grayish-magenta);
  /* background-color: var(--neutral-dark-grayish-magenta); */
  border-radius: var(--radius-val);
  padding: 1rem;
  margin: 1rem auto;
  max-width: 311px;
}

.rating-card p {
  margin: 0;
  font-weight: 700;
  color: var(--primary-very-dark-magenta);
}

.rating-card i {
  color: gold;
}

/* #review-cards {
  margin-top: 5rem;
} */

.review-card {
  color: var(--neutral-white);
  background-color: var(--primary-very-dark-magenta);
  max-width: 311px;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: var(--radius-val);
}

.buyer-statue {
  color: var(--primary-soft-pink);
}

.review-card img {
  float: left;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 4rem;
    font-weight: 800;
  }
  #main-container {
    max-width: 1040px;
  }

  #intro-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #intro-card p {
    font-size: 1.7rem;
  }

  #header,
  #stars-card {
    /* width: 300px; */
    max-width: 400px;
  }

  #intro-card {
    text-align: left;
  }

  #stars-cards {
    /* when i remove the margin from rating-card class
    the div are no more centered */
    margin: 0;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .rating-card {
    padding: 1rem;
    margin: 1rem 0;
    width: 360px;
    max-width: 415px;
  }

  #rating-card-1 {
    align-self: flex-start;
  }
  #rating-card-3 {
    align-self: flex-end;
  }

  .rating-card p {
    float: right;
  }

  #review-cards {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
  }

  #review-card-1 {
    align-self: flex-start;
  }
  #review-card-2 {
    align-self: center;
  }
  #review-card-3 {
    align-self: flex-end;
  }

  .review-card {
    max-width: 320px;
    /* padding: 2rem;
    margin: 1rem 0; */
  }
  .review-card p {
    padding: 1rem 0 0;
  }
}
