<form action="" method="post" onsubmit="return false" id="booking-form">
    <div class="inline-block-display form-component">
        <label for="from" class="block-display">From</label>
        <input type="text" name="from" id="from">
    </div>
    <div class="inline-block-display form-component">
        <label for="to" class="block-display">To</label>
        <input type="text" name="to" id="to">
    </div>
    <div class="inline-block-display form-component">
        <label for="travelDate" class="block-display">Travel Date</label>
        <input type="text" name="travelDate" id="travelDatee">
    </div>
    <input type="submit" value="Book Now" class="btn btn-primary booking-btn">
</form>