<!-- this part is to test the display property and aside bar -->
<aside class="side-bar">
    <address class="address-container">
        <a href="instagram.com" target="_blank" class="address-link block-display">Instagram</a>
        <a href="twitter.com" target="_blank" class="address-link block-display">Twitter</a>
        <a href="facebook.com" target="_blank" class="address-link block-display">Facebook</a>
    </address>
</aside>


<article id="main-content">
    <section id="landing-sec">
        <div id="intro-title">
            <p>Book your desired travel place</p>
            <h1 class="capitalize">travel for life</h1>
        </div>



        <div id="">
            <img src="../images/snow forest lake.jpeg" alt="pictures of snow in the forest and a lake"
                class="landing-sec-img">
            <img src="" alt="" class="landing-sec-img">
            <img src="" alt="" class="landing-sec-img">
        </div>
    </section>
<!-- 
    <section>
        <div class="locations-images">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div> -->
    </section>
</article>