<section id="recommendations">
    <h2 class="capitalize">our recommendations</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        <br>
        Velit quod corporis unde rerum doloribus.
    </p>
    <!--  -->

    <div id="recommendation-card-pack-1">
        <div class="recommendation-card-1">
            <img src="../images/hanoi mountains.jpg" alt="a picture of hanoi mountain">
            <div>
                <h3 class="capitalize">hanoi</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, magnam.
                </p>
            </div>
        </div>
        <div class="recommendation-card-1">
            <img src="../images/Mount Everest.jpg" alt="picture of everest mountain">
            <div>
                <h3 class="capitalize">riverdale</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, magnam.
                </p>
            </div>
        </div>
        <div class="recommendation-card-1">
            <img src="../images/raleigh mountains.jpg" alt="a picture of raleigh mountains">
            <div>
                <h3 class="capitalize">raleigh </h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, magnam.
                </p>
            </div>
        </div>
    </div>

    <div id="recommendation-card-pack-2">
        <img src="../images/Lake Braies copy.jpg" alt="">
    </div>

    <div id="recommendation-card-pack-3">
        <div class="recommendation-card-3">
            <img src="../images/coniferous trees.jpg" alt="a picture of coniferous trees in america">
            <div>
                <h3 class="capitalize">choose the perfect accomodations</h3>
                <span><i class="fa-solid fa-eye"></i> 203 view</span>
                <span><i class="fa-solid fa-comments"></i> 26 comments</span>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi at obcaecati ipsum odio,
                    doloremque perferendis dolore id. Debitis ex ab sed eligendi officiis.
                </p>
            </div>
        </div>
        <div class="recommendation-card-3">
            <img src="../images/river.jpeg" alt="a picture of a vale">
            <div>
                <h3>do a sporting do in birmingham </h3>
                <span><i class="fa-solid fa-eye"></i> 292 views</span>
                <span><i class="fa-solid fa-comments"></i> 13 comments</span>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi at obcaecati ipsum odio,
                    doloremque perferendis dolore id. Debitis ex ab sed eligendi officiis.
                </p>
            </div>
        </div>
    </div>

</section>