<footer id="footer-element" class="capitalize">
    <ul class="footer-list">
        <h2>UINugget</h2>
        <li>privacy policy</li>
        <li>&copy; UINugget copyrights</li>
    </ul>
    <ul class="footer-list">
        <h3>menu</h3>
        <li>about</li>
        <li>care center</li>
        <li>service</li>
    </ul>
    <ul class="footer-list">
        <h2>&nbsp;</h2>
        <li>prefrences</li>
        <li>Executions</li>
    </ul>
    <div id="footer-contacts">
        <h3>contact us</h3>
        <address>
            <a href="mailto:jim@rock.com" class="inline-display">jim@rock.com</a>
            &nbsp;
            <a href="tel:+13115552368" class="inline-display">(311) 555-2368</a>
        </address>
        <div id="footer-contacts-icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
</footer>