<!-- IMPORTANT: side bar needs to be inside a container with 
    main-container class, 
it also needs a main element with main-content class-->
<!-- <body class="main-container"> -->
<aside class="side-bar">
    <address class="address-container">
        <a href="instagram.com" target="_blank" class="address-link block-display">Instagram</a>
        <a href="twitter.com" target="_blank" class="address-link block-display">Twitter</a>
        <a href="facebook.com" target="_blank" class="address-link block-display">Facebook</a>
    </address>
</aside>
<!-- <article class="main-content">
...
</article> -->
<!-- <body class="main-container"> -->