<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Search Bar</title>
    <style>

    </style>
</head>

<body>
    <section id="search-bar">
        <button>X</button>
        <div id="search-field">
            <div id="search-border">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search-location" id="search-location" placeholder="search location">
            </div>
            <button>Search</button>
        </div>
        <!-- add a list and a history maybe -->
    </section>

</body>

</html>